Package: com.afnanahmad.chromahomebarx
Name: ChromaHomeBarX
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Razer Chroma insprird HomeBar coloring tweak for iPhone X, also works with LittleX.
Maintainer: Afnan Ahmad <afnanahmaddd@gmail.com>
Author: Afnan Ahmad <afnanahmaddd@gmail.com>
Section: Tweaks
